version: '3.8'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./public/exports:/app/public/exports
      - ./temp:/app/temp
    environment:
      - NODE_ENV=production
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "4002:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nextjs
    restart: always
